<div style="height:130px;">
  <div style="float: left; width: 100%; border-bottom:1px dotted #333333;">
    <h2>services</h2>

    <div style="float: left; width: 50%;">
      Find out exactly what to expect when you book us, you'll be surprised how much we do.
    </div>
    <div style="float: right; margin-top:-50px">
      <img src="images/services.gif" style="text-align:center;" width="40px" height="40px">
    </div>
  </div>
</div>

<div id="accordion">

  <h3><a href="#" class="accordion-header">Services</a></h3>
  <div>
    <p><h4>[ what do we provide ]</h4></p>
    <p>
        When you book Empire, you can expect to get a reliable, professional and talented band. we pride ourselves in delivering a complete package to our customers with 100% satisfaction gaurenteed!

        For a typical event we can provide:
         We are available for all types of bookings:
        up to 3 hours live music
        full PA system
        dedicated sound technician
        professional service
        competative pricing
    </p>
  </div>

  <h3><a href="#" class="accordion-header">Events</a></h3>
   <div>
    <p><h4>[ what events do we cater for ]</h4></p>
    <p>
        We are available for all types of bookings:
        weddings
        birthday parties
        christmas parties
        pubs / clubs
        new year parties
        out door events
    </p>
  </div>

  <h3><a href="#" class="accordion-header">FAQ's</a></h3>
    <div>
    <p><h4>[ frequently asked questions ]</h4></p>
    <div style="float: left; width: 45%;">
        <b>How long will you play for at our wedding?</b><br>
        We like to arrange our performance around the plans you have for your day. As a standard the band would attend from 7:00p.m. until 12:00a.m. playing three forty-five minute live sets throughout the evening with the first dance at around 8:15. If you require to extend the performance or attendance times we are happy to accommodate this but additional charges may apply.
        <br><br>
        <b>How far will can you travel for a wedding?</b><br>
        We are happy to play throughout the UK although we would require you cover the additional expenses incurred in travelling. In extreme cases if accommodation was required you would also be required to cover these costs although we will advise of all expenses prior to making your booking.
<br><br>
        <b>We want to see you perform before booking. Can we?</b><br>
        Yes. it may be possible to come to a wedding but we require consent from the wedding organisers first. We also try to showcase the band at wedding shows and public gigs when we have free time and will post details of such events here on the site and on our Facebook page.
<br><br>
        <b>Can I choose which songs you play?</b><br>
        We are happy to learn your first dance if it's not already in our repertoire provided we have at least 3 months notice. We try to keep our full song list up to date on the website and if you wish a specific song order to start the night we're happy to accommodate however we are very experienced at planning and adjusting a night based on how the audience is reacting so trust us to keep your guests on the dance floor. If you want to make additional song requests out with our repertoire we will endeavour to learn them but it will be at the bands discretion and extra rehearsal costs will need to be met by yourself.
<br><br>
        <b>The song we'd like for our first dance is not in your set list, can we request it?</b><br>
        Yes. All we ask for is 3 months notice to give us time to prepare and rehearse your song.
    </div>
    <div style="float: right;width: 45%">
        <b>Do you bring your own PA system and lights?</b><br>
        Yes, we can provide all the equipment that is necessary for your event however we do need to know room size and expect amount of guests before booking. We have our own PA and lights for the band. Dance floor lighting is usually covered by the venue but we can also arrange this as well.
      <br><br>
        <b>Is there a minimum amount of space you require to perform?</b><br>
        Yes, we’ve measured it. 18 x 12 feet or 5 / 4 metres.
      <br><br>
        <b>A quick note on the costs of hiring a band:</b><br>
        Most people don’t realise the amount of work involved in running a professional wedding and function band. It takes a lot of time and effort to produce the end product that people see at their wedding or function. As well as tangible costs like rehearsal studio hire, PA equipment, guitars, keyboard, drums, lighting, promotional material, agency costs etc there is also a lot of time spent by each band member learning and memorising the songs we play to the highest standard to make sure you have a great evening.
<br><br>
        Get a quote:
        The best way to find out exactly what we offer and the costs is to request a quote
    </div>





  </div>

</div>