<div style="height:50px; border-bottom:1px dotted #333333;">
    <div style="float: left; width: 100%;">
      <h2>services</h2>
      <div style="float: left; width: 50%;">
        Find out exactly what to expect when you book us, you'll be surprised how much we do.
      </div>
      <div style="float: right; margin-top:-45px">
         <img src="images/services.gif" style="text-align:center;" width="40px" height="40px">
      </div>
    </div>
</div>


