body {
    color: #999999;
    font-size: 14px;
    background-color: black;
}

#menu{
   font-size: 15px;
   text-align:right;
   color: white;
}

img {
    border: 0;
}

.facebook-icon{
    float:left;
    width: 20px;
    height: 20px;
    position:absolute;
    top:5px;
}

.create_input{
    border-right: #000000 1px solid;
    padding-right: 4px; 
    border-top: #000000 1px solid;
    padding-left: 4px;
    font-size: 8pt;
    padding-bottom: 1px;
    border-left: #000000 1px solid;
    color: #000000;
    padding-top: 1px;
    border-bottom: #000000 1px solid;
    font-family: Tahoma;
    background-color: darkgray;
}

#slideshow img { display: none }
#slideshow img.first { display: block }

.spacer {
    height: 25px;
}

.spacer-hidden{
    padding: 20px;
    color: black;
}

#header-spacer {
    height: 20px;
}

.wrapper {
    width: 680px;
    margin: 0 auto;
}

.footer-wrapper {
    width: 680px;
    margin: 0 auto;
    color: white;
    font-size: 12px;
}

h2 {
    color: white;
}

.left {
  float: left;
  padding: 10px 10px 0px 0px;
  width: 40%;
}

.middle {
  top: 10px;
  padding-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

.right {
  float: right;
  padding: 10px 10px 0px 10px;
  width: 100px;
}

a {text-decoration: none; color:white; font-family: 'Schoolbell', arial, serif; font-size:18px;}
a:link {text-decoration: none; font-family: 'Schoolbell', arial, serif; font-size:18px;}
a:visited {text-decoration: none; font-family: 'Schoolbell', arial, serif; font-size:18px;}
a:active {text-decoration: none; font-family: 'Schoolbell', arial, serif; font-size:18px;}
a:hover {color: cyan; font-family: 'Schoolbell', arial, serif; font-size:18px;}

.home-links a { text-decoration: none; color:white; font-family: sans-serif; font-size:18px;}


#music-table {
	width: 100%;
 }
#music-table .rowa {
	background: darkblue;
	height: 20px;
}
#music-table .rowb {
	height: 20px;
}
#music-table .rowc {
	height: 20px;
}
#music-table .cell {
	padding: 0px;
	border: 1px solid #000000;
}



