<div style="height:60px; border-bottom:1px dotted #333333;">
    <div style="float: left; width: 100%;">
      <h2>the band</h2>
      <div style="float: left; width: 50%;">
        Meet the members of the band and discover their musical backgrounds.
      </div>
      <div style="float: right; margin-top:-30px">
        <img src="images/band.gif" style="text-align:center;" width="40px" height="40px">
      </div>
    </div>
</div>

<div>

</div>
