<div style="height:130px;">
  <div style="float: left; width: 100%; border-bottom:1px dotted #333333;">
    <h2>the band</h2>

    <div style="float: left; width: 50%;">
      Meet the members of the band and discover their musical backgrounds.
    </div>
    <div style="float: right; margin-top:-50px">
      <img src="images/band.gif" style="text-align:center;" width="40px" height="40px">
    </div>
  </div>
</div>

<div id="accordion">

  <h3><a href="#" class="accordion-header">Jacklyn</a></h3>
  <div>
    <p><h4>[ lead vocals ]</h4></p>
    <div style="float: left; width: 60%;">
      Bio:<br><br>
      Jacklyn is the newest member of the band, joining in summer of 2010. Before joining Empire Jacklyn fronted other
      successful wedding and function bands. She also sings in a local well known choir.
    </div>
    <div style="float: right;">
      Gear:<br>
      <ul>
        <li>built in vocal chords</li>
      </ul>
    </div>
  </div>

  <h3><a href="#">Craig </a></h3>
  <div>
    <p><h4>[ lead guitar | backing vocals ]</h4></p>
    <div style="float: left; width: 60%;">
      Bio:<br><br>
      Originally from Dumfries, Craig began my playing career with a number of local rock, heavy metal bands and enjoyed success with indie band The Shakes.
      After leaving The shakes Craig featured with a couple of Soul & Blues bands and also performed with orchestras and
      experimental bands broadening his range of styles. Craig went on to work as lead guitarist in a more prolonged role
      with popular Dumfries covers band Huggy Bear. After leaving Huggy Bear in 2002 to move to Glasgow I spent a short time
      recording solo material and working with a couple of original bands before taking a prolonged break from
      performing.<br><br> 
      Since 2008 I have rediscovered my passion for music and have been having a great time playing with
      Empire and teaching guitar.
    </div>
    <div style="float: right;">
      Gear:<br>
      <ul>
        <li>Paul Reed Smith USA Custom 24</li>
        <li>Paul Reed Smith USA CE24</li>
        <li>Ibanez Customised RGR321EX</li>
        <li>Yamaha CPX-8SY</li>
        <li>Digitech GSP1101</li>
        <li>TC Electronic G-Major</li>
        <li>Morley Tremonti Power Wah</li>
        <li>Randall RM100KH</li>
        <li>VHT Fatbottom 4x12 Cabinet</li>
        <li>Marshall 1932 2x12 Cabinet</li>
      </ul>
    </div>
  </div>

  <h3><a href="#">Paul </a></h3>
  <div>
    <p><h4>[ percussion ]</h4></p>
    <div style="float: left; width: 60%;">
      Bio:<br><br>
      Paul was first exposed to drums at a music presentation during school. He soon started lessons and became hooked when
      he heard the drummers from bands like Pearl Jam, Nirvana and Soundgarden.
      Paul tastes slowly became heavier and in 2007 he joined a local metal band. After several line up changes, the band
      "She Sleeps Forever" enjoyed success playing sold out shows across Scotland and opened for some of the biggest
      names in the hardcore metal scene. Since then, Paul has taken jazz lessons with some amazing Glasgow drummers.<br><br>
      In the future he hopes to take his playing as far as it will go and will continue having a great time playing gigs with Empire!
    </div>
    <div style="float: right; width: 38%;">
      Gear:<br>
      <ul>
        <li>Pearl Vision VBX (Fusion)</li>
        <li>14" Steel Sensitone Snare</li>
        <li>13" Zildjian A Custom hi-hat with Z Custom bottom</li>
        <li>17" Zildjian A Custom Crash</li>
        <li>19" Zildjian A Custom Projection Crash</li>
        <li>20" Zildjian K Custom Dark Ride</li>
        <li>14" Sabian AAX Mini China</li>
      </ul>
    </div>
  </div>

  <h3><a href="#">Dave </a></h3>
  <div>
    <p><h4>[ bass guitar ]</h4></p>
    <div style="float: left; width: 60%;">
      Bio:<br><br>
      Dave started playing bass in his early teens in indy bands. He went on to study music at the Greenbank Centre Music
      College in Liverpool in 1994. Received a diploma in jazz and commercial music. Joined a semi-professional Frank
      Zappa tribute band called 'The Muffin Men' in 1997 and toured the UK and Europe with them until 1999. Moved to
      Glasgow in 2001 and began teaching bass guitar privately. Plays Jazz on a regular basis around Glasgow. Recently
      completed a commission to compose some music for a DVD by the comedian Frankie Boyle.<br><br>
      Dave joined Empire in January 2011.
    </div>
    <div style="float: right;">
      Gear:<br>
      <ul>
        <li>Warwick Corvette Standard 6 string bass</li>
        <li>Fender Jazz Bass</li>
        <li>5 String Fretless Bass</li>
        <li>Roland V-bass system</li>
        <li>Berhinger FCB1010</li>
        <li>Ashdown Bass Amp</li>
        <li>Apple Macbook</li>
        <li>Ableton Live 8 Suite</li>
        <li>Notion</li>
        <li>Focusrite Saffire Audio Interface</li>
        <li>Novation Remote 25 SL</li>
        <li>Yamaha Stagepas 300 PA</li>
      </ul>
    </div>
  </div>

  <h3><a href="#">Gilbert </a></h3>
  <div>
    <p><h4>[ rhythm guitar | keyboard | backing vocals ]</h4></p>
    <div style="float: left; width: 60%;">
      Bio:<br><br>
      Gilbert was born and raised in Ayrshire and was first introduced to playing music at 7.
      Following in his sisters footsteps he was handed a cornet at primary school but by the time he was 8, had switched to
      playing the trombone. Gilbert performed in brass bands, orchestras, jazz bands and big bands, competing in regional solo
      and  national band competitions. As a youngeter he also performed many soprano solos at local events.<br><br>
      His first taste of five piece rock band life was at the age of 17 when he formed a band with some school friends.
      Gilbert formed the band Calm Ye Jets in late 2007 and later set up the function band Empire.
    </div>
    <div style="float: right;">
      Gear:
      <ul>
        <li>Paul Reed Smith SE EG</li>
        <li>Fender Telecaster Light Ash</li>
        <li>Epiphone Les Paul Custom</li>
        <li>Line 6 Flextone III</li>
        <li>Line 6 FBV Shortboard</li>
        <li>Roland Edirol PCR-800</li>
        <li>Apple Macbook Pro</li>
        <li>Apple Mainstage</li>
      </ul>
    </div>
  </div>
</div>
