<div style="height:130px;">
  <div style="float: left; width: 100%; border-bottom:1px dotted #333333;">
    <h2>the band</h2>

    <div style="float: left; width: 50%;">
      Meet the members of the band and discover their musical backgrounds.
    </div>
    <div style="float: right; margin-top:-50px">
      <img src="images/band.gif" style="text-align:center;" width="40px" height="40px">
    </div>
  </div>
</div>

<div id="accordion">
  <h3><a href="#" class="accordion-header">Jacklyn</a></h3>

  <div>
    <p>[ lead vocals ]</p>

    <p>
      Bio:
      Jacklyn is the newest member of the band, joining in summer of 2010. Before joining Empire Jacklyn fronted other
      successful wedding and function bands. She also sings in a local well known choir.
    </p>

    <p>
      Gear:
      built in vocal chords
    </p>
  </div>
  <h3><a href="#">Craig </a></h3>

  <div>
    <p>[ lead guitar | backing vocals ]</p>

    <p>
      Bio:
      After hearing Guns n' Roses, Apetite For Destruction album I had to have a guitar. Originally from Dumfries I
      began
      my playing career with a number of local rock and heavy metal bands before eventually getting sucked into the mid
      90s brit pop scene to enjoy moderate success with indie band The Shakes.
      After leaving The shakes I featured with a couple of Soul & Blues bands and also performed with orchestras and
      experimental bands broadening my range of styles. I went on to work as lead guitarist in a more prolonged role
      with
      popular Dumfries covers band Huggy Bear. After leaving Huggy Bear in 2002 to move to Glasgow I spent a short time
      recording solo material and working with a couple of original bands before taking a prolonged break from
      performing.
      Since 2008 I have rediscovered my passion for music and have been having a great time playing with Empire and
      teaching guitar.
    </p>

    <p>
      Gear:

      Guitars:
    <ul>
      <li>Paul Reed Smith USA Custom 24</li>
      <li>Paul Reed Smith USA CE24</li>
      <li>Ibanez Customised RGR321EX</li>
      <li>Yamaha CPX-8SY</li>
    </ul>


    Effects:
    <ul>
      <li>Digitech GSP1101</li>
      <li>TC Electronic G-Major</li>
      <li>Morley Tremonti Power Wah</li>
    </ul>

    Amps:
        <ul>
      <li>Randall RM100KH</li>
      <li>VHT Fatbottom 4x12 Cabinet</li>
      <li>Marshall 1932 2x12 Cabinet</li>
    </ul>



    </p>
  </div>
  <h3><a href="#">Paul </a></h3>

  <div>
    <p>[ percussion ]</p>

    <p>
      Bio:
      I was first exposed to drums at a music presentation during school. I soon started lessons and became hooked when
      I
      heard the drummers from bands like Pearl Jam, Nirvana and Soundgarden.
    </p>

    <p>
      My tastes slowly became heavier and in 2007 I joined a local metal band. After several line up changes, the band
      "She Sleeps Forever" enjoyed success playing sold out shows across Scotland and opened for some of the biggest
      names
      in the hardcore metal scene.

      Since then I have taken jazz lessons with some amazing Glasgow drummers. In the future I hope to take my playing
      as
      far as it will go and will continue having a great time playing gigs with Empire!
    </p>

    <p>
      Gear:
      Pearl Vision VBX (Fusion)
      14" Steel Sensitone Snare
      Cymbals:
      13" Zildjian A Custom hi-hat with Z Custom bottom
      17" Zildjian A Custom Crash
      19" Zildjian A Custom Projection Crash
      20" Zildjian K Custom Dark Ride
      14" Sabian AAX Mini China
    </p>
  </div>
  <h3><a href="#">Dave </a></h3>

  <div>
    <p>[ bass guitar ]</p>

  </div>
  <h3><a href="#">Gilbert </a></h3>

  <div>
    <p>[ rhythm guitar | keyboard | backing vocals ]</p>

    <p>
      Bio:
      Gilbert was born and raised in Ayrshire and was first introduced to playing music at the tender age of 7.
      Following
      in his sisters footsteps he was handed a cornet at primary school but by the time he was 8, had switched to
      playing
      the trombone. Gilbert performed in brass bands, orchestras, jazz bands and big bands, competing in regional solo
      and
      national band competitions. As a youngeter he also performed many soprano solos at local events.

      His first taste of five piece rock band life was at the age of 17 when he formed a band with some school friends.
      Gilbert formed the band Calm Ye Jets in late 2007 and later set up the function band Empire.
    </p>

    <p>
      Gear:
      Guitars:
      Paul Reed Smith SE EG
      Fender Telecaster Light Ash
      Epiphone Les Paul Custom
      Guitar Amp & Effects:
      Line 6 Flextone III
      Line 6 FBV Shortboard

      Keyboards & Controllers:
      Korg X5D
      Roland Edirol PCR-800
      Other:
      Apple Macbook Pro
      Apple Logic & Mainstage
    </p>
  </div>
</div>
