<div style="height:100px">
    <div style="float: left; width: 48%;">
      <h2>music</h2>
      <div style="float: left; width: 80%;">
        Listen or download mp3's of the band and take a look at the music we play.
      </div>
      <div style="float: right; width: 20%;">
        <img src="images/mp3.gif" style="text-align:center;" width="40px" height="40px">
      </div>
    </div>
    
    <div style="float: right; width: 50%;">
      <h2>the band</h2>
      <div style="float: left; width: 80%;">
        Meet the members of the band and discover their musical backgrounds.
      </div>
      <div style="float: right; width: 20%;">
        <img src="images/band.gif" style="text-align:center;" width="40px" height="40px">
      </div>
    </div>
</div>


<div style="height:100px">
    <div style="float: left; width: 48%; border-top:1px dotted #333333;">
      <h2>services</h2>
      <div style="float: left; width: 80%;">
        Find out exactly what to expect when you book us, you'll be surprised how much we do.
      </div>
      <div style="float: right; width: 20%;">
        <img src="images/services.gif" style="text-align:center;" width="40px" height="40px">
      </div>
    </div>

    <div style="float: right; width: 50%; border-top:1px dotted #333333">
      <h2>contact</h2>
      <div style="float: left; width: 80%;">
        Want to know more or book the band? Get in touch by any means possible.
      </div>
      <div style="float: right; width: 20%;">
        <img src="images/contact.gif" style="text-align:center;" width="40px" height="40px">
      </div>
    </div>
</div>
