<div style="height:100px">
    <div style="float: left; width: 48%;">
      <h2>music</h2>
      <div style="float: left; width: 80%;">
        Listen or download mp3's of the band and take a look at the music we play.
      </div>
      <div style="float: right; width: 20%;">
        <%= link_to image_tag("/images/mp3.gif", :size => "40x40"), :action=>"index", :controller=>"music" %>
      </div>
    </div>
    
    <div style="float: right; width: 50%;">
      <h2>the band</h2>
      <div style="float: left; width: 80%;">
        Meet the members of the band and discover their musical backgrounds.
      </div>
      <div style="float: right; width: 20%;">
        <%= link_to image_tag("/images/band.gif", :size => "40x40"), :action=>"index", :controller=>"band" %>
      </div>
    </div>
</div>


<div style="height:100px">
    <div style="float: left; width: 48%; border-top:1px dotted #333333;">
      <h2>services</h2>
      <div style="float: left; width: 80%;">
        Find out exactly what to expect when you book us, you'll be surprised how much we do.
      </div>
      <div style="float: right; width: 20%;">
        <%= link_to image_tag("/images/services.gif", :size => "40x40"), :action=>"index", :controller=>"services" %>
      </div>
    </div>

    <div style="float: right; width: 50%; border-top:1px dotted #333333">
      <h2>contact</h2>
      <div style="float: left; width: 80%;">
        Want to know more or book the band? Get in touch by any means possible.
      </div>
      <div style="float: right; width: 20%;">
        <%= link_to image_tag("/images/contact.gif", :size => "40x40"), :action=>"index", :controller=>"contact" %>
      </div>
    </div>
</div>
