<div style="height:60px; border-bottom:1px dotted #333333;">
    <div style="float: left; width: 100%;">
      <h2>music</h2>
      <div style="float: left; width: 50%;">
        Listen or download mp3's of the band and take a look at the music we play.
      </div>
      <div style="float: right; margin-top:-30px">
         <img src="images/mp3.gif" style="text-align:center;" width="40px" height="40px">
      </div>
    </div>
</div>
